@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;400;500;600;700&display=swap");
* {
  font-family: $poppins;
}
body {
  display: flex;
  align-items: center;
}
.art {
  overflow-x: hidden;
  @include direction-column();
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  margin: 0px auto;
  button {
    background-color: none;
    background-repeat: no-repeat;
  }
  &__section {
    @include direction-column();
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
  &__header {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      height: 2px;
      background: #000;
    }
    &__text {
      width: 80px;
      background-image: url("../img/quiz.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 80px;
      padding-bottom: 53px;
    }
  }
  &__button {
    background: $red;
    border: 1.6px solid $red;
    color: white;
    padding: 7px 20px;
    border-radius: 3px;
    transition: 0.2s;
    &:hover {
      background: #74251f;
    }
    &:active {
      transform: scale(0.985);
      border: 1.6px solid rgb(47, 47, 47);
      background: #f4f4f4;
      color: black;
    }
  }
  &__title {
    text-align: center;
    margin-top: 17px;
    font-size: 27px;
  }
  &__icon {
    width: 40px;
    height: 40px;
    background-size: contain !important;
    transition: 0.2s;
    background-repeat: no-repeat;
    &:hover {
      opacity: 0.95;
    }
    &:active {
      opacity: 0.8;
      transform: scale(0.96);
    }
  }
  &__home {
    width: 100px;
  }
}

.hide {
  display: none !important;
}

@media screen and(min-width: 1024px) {
  .art {
    &__title {
      font-size: 40px;
    }
    &__section {
      max-width: 80%;
    }
    &__header {
      font-size: 40px;
      line-height: 35px;
    }
    &__home {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      &:active {
        transform: translateY(-50%);
      }
    }
    &__score {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      &:active {
        transform: translateY(-50%);
      }
    }
  }
}
@import "components/welcome.scss";
@import "components/settings.scss";
@import "components/categories.scss";
@import "components/questions.scss";

.changePage {
  animation: changePageAnim 0.5s ease-in-out;
}
.infoShowAnim {
  animation: infoShowAnim 0.3s forwards ease-in-out;
}
.infoHideAnim {
  animation: infoHideAnim 0.3s forwards ease-in-out;
}
.changePhotoAnim {
  animation: changePhotoAnim 0.3s forwards ease-in-out;
}
@keyframes changePageAnim {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(0.95);
  }
  50% {
    transform: translateX(0%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}
@keyframes infoShowAnim {
  0% {
    display: none;
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    display: flex;
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}
@keyframes infoHideAnim {
  0% {
    display: flex;
    opacity: 1;
    transform: translate(-50%, 0%);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}
@keyframes changePhotoAnim {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}