@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;400;500;600;700&display=swap");
* {
  font-family: $poppins;
}
body {
  display: flex;
  align-items: center;
}
.art {
  overflow-x: hidden;
  @include direction-column();
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  margin: 0px auto;
  button {
    background-color: none;
    background-repeat: no-repeat;
  }
  &__section {
    @include direction-column();
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 50px !important;
  }
  &__modal {
    position: absolute;
    z-index: 1;
    left: 50%;
    width: calc(100% - 20px);
    max-height: 450px;
    padding: 7px;
    background: white;
    border-radius: 5px;
    gap: 10px 0;
    @include direction-column;
    box-shadow: 0px 0px 5px 0.5px rgba(39, 39, 39, 0.465);
  }

  &__button {
    background: $red;
    border: 1.6px solid $red;
    color: white;
    padding: 7px 20px;
    border-radius: 3px;
    transition: 0.2s;
    &:hover {
      background: #74251f;
    }
    &:active {
      transform: scale(0.985);
      border: 1.6px solid rgb(47, 47, 47);
      background: #f4f4f4;
      color: black;
    }
  }
  &__title {
    text-align: center;
    margin-top: 17px;
    font-size: 27px;
  }
  &__icon {
    width: 40px;
    height: 40px;
    background-size: contain !important;
    transition: 0.2s;
    background-repeat: no-repeat;
    &:hover {
      opacity: 0.95;
    }
    &:active {
      opacity: 0.8;
      transform: scale(0.96);
    }
  }
}
.picture-info {
  z-index: 2;
  bottom: 0;
  transform: translate(-50%, 200%);
  gap: 10px 0;
  border-radius: 4px 4px 0 0;
  padding-bottom: 20px;
  display: none;
  &__indicator {
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
  }
  .false {
    background-image: url("../img/false.png");
  }
  .true {
    background-image: url("../img/true.png");
  }
  &__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  span {
    color: $black-medium;
  }
  &__author {
    font-weight: 600;
    color: #454545;
    font-size: 16px;
  }
  &__year {
    font-size: 12px;
    font-weight: 500;
  }
  &__name {
    font-size: 12px;
    font-weight: 500;
  }
  &__button {
    background: radial-gradient(circle, rgba(146, 45, 37, 1) 0%, rgb(136, 52, 41) 100%);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: white;
    width: 40%;
    height: 30px;
    transition: 0.2s;
    border: 2px solid #922d25;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      background: white;
      border: 2px solid #922d25;
      color: #454545;
      transform: scale(0.985);
    }
  }
}

.congratulation {
  top: 20%;
  z-index: 2;
  transform: translate(-50%, 0%);
  bottom: auto;
  @include direction-column;
  display: none;
  &__image {
    width: 50%;
    height: 100px;
    background-image: url("../img/congrats.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
  }
  &__score {
    margin: 30px 0;
    font-size: 50px;
    font-weight: 600;
    color: #454545;
  }
  &__bg {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background: white;
    width: 100vw;
    height: 100vh;
    transition: 2s;
  }
}

.hide {
  display: none !important;
}

@media screen and(min-width: 500px) {
  .picture-info {
    width: 60%;
  }
}
@media screen and(min-width: 768px) {
  .art {
    &__modal {
      max-height: 700px;
      span {
        font-size: 14px;
      }
      .picture-info__author {
        font-size: 20px;
      }
    }
  }
}
@media screen and(min-width: 1024px) {
  .art {
    &__title {
      font-size: 40px;
    }
    &__section {
      max-width: 80%;
    }
    &__header {
      font-size: 40px;
      line-height: 35px;
    }
  }
  .picture-info {
    width: 40%;
  }
}
@media screen and(min-width: 1440px) {
  .art {
    &__modal {
      padding: 25px;
      width: 40%;
    }
  }
  .picture-info {
    width: 20%;
    padding: 7px 7px 20px 7px;
    &__image {
      height: 350px;
    }
    span {
      font-size: 16px;
    }
    &__author {
      font-size: 22px !important;
    }
    &__button {
      height: 40px;
      font-size: 16px;
    }
  }
}
@import "components/header.scss";
@import "components/welcome.scss";
@import "components/settings.scss";
@import "components/categories.scss";
@import "components/score.scss";
@import "components/artists-questions.scss";
@import "components/picture-questions.scss";

@keyframes changePageAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%) scale(0.95);
    transform: translateX(100%) scale(0.95);
  }
  50% {
    -webkit-transform: translateX(0%) scale(0.9);
    transform: translateX(0%) scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
    transform: translateX(0%) scale(1);
  }
}
.changePage {
  -webkit-animation: changePageAnim 0.5s ease-in-out;
  animation: changePageAnim 0.5s ease-in-out;
}

@keyframes infoShowAnim {
  0% {
    display: none;
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    display: flex;
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}
.infoShowAnim {
  display: flex;
  animation: infoShowAnim 0.3s forwards ease-in-out;
}

@keyframes infoHideAnim {
  0% {
    display: flex;
    opacity: 1;
    transform: translate(-50%, 0%);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}
.infoHideAnim {
  animation: infoHideAnim 0.3s forwards ease-in-out;
  display: none;
}

@keyframes changePhotoAnim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.changePhotoAnim {
  animation: changePhotoAnim 0.3s forwards ease-in-out;
}
@-webkit-keyframes congratsShowAnim {
  0% {
    display: none;
    -webkit-transform: translate(-50%, 0%) scaleY(0.2);
    transform: translate(-50%, 0%) scaleY(0.2);
  }
  100% {
    display: flex;
    -webkit-transform: translate(-50%, 0%) scaleY(1);
    transform: translate(-50%, 0%) scaleY(1);
  }
}
@keyframes congratsShowAnim {
  0% {
    display: none;
    -webkit-transform: translate(-50%, 0%) scaleY(0.2);
    transform: translate(-50%, 0%) scaleY(0.2);
  }
  100% {
    display: flex;
    -webkit-transform: translate(-50%, 0%) scaleY(1);
    transform: translate(-50%, 0%) scaleY(1);
  }
}

.congratsShowAnim {
  -webkit-animation: congratsShowAnim 0.4s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: congratsShowAnim 0.4s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
  display: flex;
}

@keyframes opacityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.congratsBgShowAnim {
  animation: opacityAnim 0.2s ease-in forwards;
  opacity: 0.5;
  display: block;
}

@keyframes hideQuestions {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}
.hideQuestions {
  animation: hideQuestions 0.3s ease-in forwards;
}

@keyframes showQuestions {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.showQuestions {
  animation: showQuestions 0.3s ease-in forwards;
}

@-webkit-keyframes cardsAnim {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes cardsAnim {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }

  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

.cardsAnim {
  -webkit-animation: cardsAnim 0.4s cubic-bezier(0.89, 0.575, 0.565, 1) both;
  animation: cardsAnim 0.4s cubic-bezier(0.89, 0.575, 0.565, 1) both;
}

@keyframes textAnim {
  0% {
    width: 0px;
  }
  99% {
    width: 200px;
  }
  100% {
    width: auto;
  }
}
.textAnim {
  animation: textAnim 0.7s ease-in forwards;
}
@keyframes welcomeCardsAnim {
  0%{
    gap: 0;
  }
  100%{
    gap: 0 7%;
  }
}
.welcomeCardsAnim {
  animation: welcomeCardsAnim 0.4s ease-in forwards;
}