.questions {
  display: flex;
  gap: 5px 0;
  justify-content: start;
  &__timer {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 7px;
    span {
      color: #454545;
      font-size: 20px;
    }
    &__input {
      appearance: none;
      width: 100%;
      height: 3px;
      background: #454545;
      border-radius: 20px;
      &::-webkit-slider-thumb {
        appearance: none;
        width: 15px;
        height: 15px;
        background: #454545;
        border-radius: 50%;
        border: 2px solid white;
        transition: 0.2s;
        &:hover {
          background: rgb(17, 17, 17);
        }
        &:active {
          transform: scale(1.1);
        }
      }
    }
  }
  &__image {
    overflow-x: hidden;
    transition: 0.2s;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.67);
  }
  &__button-choices {
    @include direction-row;
    flex-wrap: wrap;
    width: 60%;
    height: 15%;
  }
  &__content {
    @include direction-column;
    gap: 10px 0;
  }
  &__top-left-button {
    border-right: 1px;
    border-bottom: 1px;
    border-radius: 3px 0 0 0;
  }
  &__top-right-button {
    border-left: 1px;
    border-bottom: 1px;
    border-radius: 0 3px 0 0;
  }
  &__bottom-left-button {
    border-right: 1px;
    border-top: 1px;
    border-radius: 0 0 0 3px;
  }
  &__bottom-right-button {
    border-left: 1px;
    border-top: 1px;
    border-radius: 0 0 3px 0;
  }
  &__button {
    font-size: 10px;
    border-color: $black-light;
    border-style: solid;
    width: 50%;
    height: 50px;
    padding: 10px 5px;
    background: $white;
    transition: 0.2s;
  }
}

@media screen and(min-width: 550px) {
  .questions {
    gap: 20px 0;
    &__button {
      font-size: 14px;
    }
  }
}
@media screen and(min-width:768px) {
  .congratulation {
    gap: 150px 0;
  }
}
@media screen and(min-width: 1440px) {
  .questions {
    gap: 20px 0;
    &__image {
      width: 800px;
    }
    &__button {
      height: 70px;
      font-size: 20px;
    }
  }
}
