.art {
  &__header {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__settings {
      position: absolute;
      top: 50px;
      transform: translateY(-50%);
      right: 40px;
      width: 30px;
      height: 30px;
      background: url("../img/setting.png");
      background-size: cover;
    }
    &__bar {
      position: absolute;
      top: 100px;
      left: 10px;
      right: 10px;
      height: 2px;
      border-radius: 5px;
      background: rgb(32, 32, 32);
    }
    &__text {
      display: block;
      position: relative;
      width: 100%;
      background-image: url("../img/quiz.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 80px;
      padding-bottom: 53px;
    }
    &__nav {
      position: absolute;
      bottom: 0;
      z-index: 1;
      height: 50px;
      width: 100%;
      border: 2px solid rgba(31, 31, 31, 0.5);
      border-bottom: none;
      border-radius: 2px 2px 0 0;
      background: #ffffff;
      padding: 5px;
      @include direction-row;
      justify-content: space-around;
      button {
        position: relative;
        color: rgb(32, 32, 32);
        background: none;
        transition: 0.2s;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          display: inline-block;
          height: 1em;
          width: 100%;
          border-bottom: 1px solid;
          margin-top: 10px;
          opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
          -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
        }
        &:hover:after {
          opacity: 1;
          -webkit-transform: scale(0.98);
          transform: scale(0.98);
        }
        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}

.highlight {
  transition: 0.2s;
  color: black !important;
  font-weight: 600;
}
@media screen and(min-width:768px) {
  .art {
    &__header {
      justify-content: start;

      &__text {
        width: 10%;
      }
      &__nav {
        width: 700px;
        position: relative;
        background: none;
        border: none;
        border-radius: none;
        button {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .art {
    &__header {
      &__text {
        width: 10%;
      }
    }
  }
}
