.art {
  &__header {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__text {
      display: block;
      position: relative;
      width: 100%;
      background-image: url("../img/quiz.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 80px;
      padding-bottom: 53px;
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        height: 2px;
        background: #000;
      }
    }
    &__nav {
      position: absolute;
      bottom: 0;
      z-index: 1;
      height: 50px;
      width: 100%;
      border: 1px solid rgba(192, 192, 192, 0.5);
      border-bottom: none;
      border-radius: 10px 10px 0 0;
      background: #f2f4f6;
      padding: 5px;
      @include direction-row;
      justify-content: space-around;
      button {
        background: none;
      }
    }
  }
}

@media screen and(min-width:768px) {
  .art{
    &__header{
      &__nav{
        position: relative;
        background: none;
        border: none;
        border-radius: none;
      }
    }
  }
}