
.settings {
  &__buttons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    button{
      padding: 10px 7px;
      width: 45%;
    }
  }
  &__content {
    width: 100%;
    height: 70%;
    @include direction-column;
    justify-content: space-around;
  }
}

.card {
  width: 70%;
  min-height: 30%;
  @include direction-column;
  justify-content: center;
  gap: 10px 0;
  background: $white-light;
  border-radius: 4px;
  &__title {
    font-size: 17px;
    text-align: center;
  }
  &__control {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
  }
}
.volume {
  &__progress {
    appearance: none;
    height: 5px;
    width: 50%;
    border-radius: 3px;
    background: $red;
    cursor: pointer;
    transition: 0.2s;
    &::-webkit-slider-thumb {
      appearance: none;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      border: 2px solid white;
      background: $red;
      transition: 0.2s;

      &:active {
        transform: scale(1.1);
      }
    }
  }
  &__button {
    width: 30px;
    height: 31px;
    background: url("../img/volume.png");
  }
}
.muted {
  background: url("../img/mute.png");
}

.time {
  &__control {
    width: 150px;
    height: 35px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    background-image: url("../img/stopwatch.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

//checkbox

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"] {
    --active: #922d25;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #922d25;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    &:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type="checkbox"] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

@media screen and(min-width: 768px) {
  .settings {
    &__content {
      flex-direction: row;
    }
    &__title{
      font-size: 45px;
    }
  }
  .card {
    width: 45%;
    height: 60%;
    &__title {
      font-size: 20px;
    }
  }
}

@media screen and(min-width: 1440px) {
  .settings {
    &__content {
      width: 60%;
    }
    &__buttons{
      width: 30%;
    }
  }
}
