// @import "nullstyle.scss";

@mixin direction-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.art {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 0 auto;
  @include direction-column();
  &__header {
  }
  &__card{
    img{
      background: none;
      width: 100%;
    }
  }
  &__settings{
    margin: 10px;
  }
}
