@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import "dev-files/variable.scss";

* {
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
}
main {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.art {
  @include direction-column();
  button {
    background-color: none;
    background-repeat: no-repeat;
  }
  &__header {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      height: 2px;
      background: #000;
    }
    &__text{
      width: 80px;
      background-image: url("../assets/quiz.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 80px;
      padding-bottom: 53px;
    
    }
  }
  &__button {
    background: $red;
    border: 1.6px solid $red;
    color: white;
    padding: 7px 20px;
    border-radius: 3px;
    transition: 0.2s;
    &:hover {
      background: #74251f;
    }
    &:active {
      transform: scale(0.985);
      border: 1.6px solid rgb(47, 47, 47);
      background: #f4f4f4;
      color: black;
    }
  }
  &__title {
    font-size: 27px;
  }
  &__icon {
    width: 40px;
    height: 40px;
    background-size: contain !important;
    transition: 0.2s;
    background-repeat: no-repeat;
    &:hover {
      opacity: 0.95;
    }
    &:active {
      opacity: 0.8;
      transform: scale(0.96);
    }
  }
  &__home{
    width: 100px ;

  }
}

@media screen and(min-width: 1024px) {
  .art{
    &__title{
      font-size: 40px;
    }
    &__header {
      font-size: 40px;
      line-height: 35px;
    }
    &__home{
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      &:active{
        transform: translateY(-50%);
      }
    }
    &__score{
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      &:active{
        transform: translateY(-50%);
      }
    }
  }
}